body{
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  background: black;

}

.title{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 400%;
  letter-spacing: 2px;
  font-stretch: extra-expanded;
  color: white;
  text-align: center;
  padding-top: 1%;
}
.underTitle{
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  letter-spacing: 5px;
  color: white;
  text-align: center;
}
@media screen and (max-width: 550px) {
  .title{
    font-size:300%;
  }
  .underTitle{
    letter-spacing: 2px;
  }
}
