.book-block .block-title{
text-align: center;
font-size: 300%;
font-weight: normal;
font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
margin-top: 30px;
}
.book-block .delimetr{
  margin: 0 120px;
  border-bottom: 2px solid black;
  transition-duration: .6s;
  box-shadow: 0 15px 25px 2px #918a8a;
}
 .book-block:hover .delimetr{
  margin: 0 40px;
}

.imgSize{
    max-width: 246px;
    max-height: 330px;
}

.cardTransform{
    transition: transform .4s ease-out;
}
.cardTransform:hover{
    transform: scale(1.05);
}

.hiddenText {
    position: relative;
    margin: 0;
    font-size: 1em;
    line-height: 1.3em;
    height: 5.6em;
    overflow: hidden;
}

.hiddenText:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4.2em;
    height: 1.6em;
    background: linear-gradient(to left top, #fff, rgba(255, 255, 255, 0));
}

.endblock{
    width: 100%;
    background: black;
    padding-top: 5%;
}


@media only screen and (max-width: 550px) {

  .book-block .delimetr{
    margin: 0 40px;
  }
	.book-block .block-title{
	   font-size: 200%;
   }
}

