.split{
  height: 100%;
  width: 50%;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: red;
}

.block-left{
  width:50%;
  height:800px;
  overflow:auto;
  float:left;
  background-color: black;
}

.block-right{
  width:50%;
  height:800px;
  overflow:auto;
  background-color: red;
}


